.mainBackground {
    -fx-background-image: url("../graphics/tavern_darker_blur_lorenzo.png");
    -fx-background-size: stretch;
}

.title {
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Papyrus";
    -fx-font-size: 25;
    -fx-effect: dropshadow(one-pass-box, rgb(9, 46, 67), 50, 0.95, 0, 0);
}

.header {
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Papyrus";
    -fx-font-size: 18;
    -fx-effect: dropshadow(one-pass-box, rgb(9, 46, 67), 50, 0.95, 0, 0);
}

.button {
    -fx-background-color: #092e43;
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: normal;
    -fx-font-size: 10;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(37, 180, 220, 0.7), 10, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #051C26FF;
}

.number-button {
    -fx-background-color: #092e43;
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Papyrus";
    -fx-font-size: 14;
}

.challenge-lorenzo {
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Papyrus";
    -fx-font-size: 15;
    -fx-effect: dropshadow(one-pass-box, rgb(9, 46, 67), 50, 0.96, 0, 0);
}