.mainBackground {
    -fx-background-image: url("../graphics/medieval_town_darker_blur_10.png");
    -fx-background-size: stretch;
}

.button {
    -fx-background-color: #092e43;
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Papyrus";
    -fx-font-size: 8;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(37, 180, 220, 0.7), 10, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #051C26FF;
}

.input-label {
    -fx-text-fill: #cb6c00;
    -fx-font-family: "Papyrus";
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-effect: dropshadow(one-pass-box, rgb(9, 46, 67), 50, 1, 0, 0);
}

.text-field {
    -fx-max-width: 110px;
    -fx-background-color: rgba(219, 143, 74, 0.62);
    -fx-text-fill: #092e43;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
