.mainBackground {
    -fx-background-image: url("../graphics/Copertina-Maestri-del-Rinascimento.jpg");
}

.button {
    -fx-background-color: #143e5e;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(37, 242, 255, 1), 30, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #0c1e42;
}

.loginLabel {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 1), 7, 0.6, 0, 0);
}
