.loadingText {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Papyrus";
    -fx-font-size: 25;
}

.mainBackground {
    -fx-background-image: url("../graphics/tavern_darker_blur_5_zoom.png");
    -fx-background-size: stretch;
}